In [1]:
import pandas as pd
import numpy as np
from numpy.random import randint
import json

In [2]:
from plotting.data.databreach2 import data

In [3]:
print("num data points: ", len(data))
print("columns: ", data[0].keys())

num data points:  540
columns:  dict_keys(['Name', 'Title', 'Domain', 'BreachDate', 'AddedDate', 'ModifiedDate', 'PwnCount', 'Description', 'LogoPath', 'DataClasses', 'IsVerified', 'IsFabricated', 'IsSensitive', 'IsRetired', 'IsSpamList'])

In [4]:
data2 = pd.read_csv("./plotting/data/databreach.csv")

In [5]:
data2

,Date,Org,Category,breach_count,type
0,10-2017,Yahoo,web services,3000.0,"[ Security questions, security answers]"
1,03-2018,UIDAI,AADHAR,1100.0,"[ Names, Aadhar number, bank details]"
2,04-2019,Facebook,social media,540.0,"[comments, likes, reactions, account names, FB..."
3,2014,Yahoo,web services,500.0,"[names, email addresses, phone numbers, hashed..."
4,06-2013,MySpace,social media,360.0,"[owner’s listed name, username, birthdate]"
5,06-2018,Exactis,web services,340.0,"[phone numbers, home, and email addresses, int..."
6,05-2018,Twitter,social media,330.0,[password]
7,10-2015,NetEase,web services,234.0,"[email address, password]"
8,06-2017,Deep Root Analytics,web services,200.0,[voter Personal Identifiable Information (PII)...
9,12-2018,Dubsmash,social media,162.0,"[email addresses, usernames, DBKDF2 password h..."
10,10-2013,Adobe,e commerce,152.0,"[internal ID, username, email, encrypted passw..."
11,02-2018,MyFitnessPal,health,150.0,"[email addresses, IP addresses, usernames, pas..."
12,09-2017,Equifax,web services,148.0,"[names, home addresses, phone numbers, dates o..."
13,03-2014,ebay,e commerce,145.0,"[names, e-mail addresses, physical addresses, ..."
14,05-2019,Canva,web services,137.0,"[email addresses, names, usernames, cities, pa..."
15,06-2018,Apollo,health,126.0,"[names, email addresses, place of employment, ..."
16,06-2013,Badoo,web services,112.0,"[names, birthdates, passwords, email addresses]"
17,08-2013,Evite,web services,101.0,"[email addresses, phone numbers, names, physic..."
18,12-2018,Quora,social media,100.0,"[names, email addresses, encrypted passwords]"
19,12-2016,Youku,web services,92.0,"[usernames, password]"
20,03-2014,Rambler,search engine,91.0,"[usernames, password]"
21,10-2016,Dailymotion,entertainment,85.0,"[emails, username,passwords]"
22,2012,Dropbox,web services,69.0,"[email addresses, passwords]"
23,02-2013,tumblr,social media,66.0,"[email addresses, passwords]"
24,2016,Uber,transport,57.0,"[names, email addresses, mobile phone numbers,..."
25,01-2021,Bonobos,e commerce,12.3,"[shipping address records, account information..."
26,01-2021,Pixlr,web services,1.9,"[Usernames, Email addresses, Country, password]"
27,04-2020,Zoom,web services,0.5,[login credentials]
28,04-2020,Nintendo,entertainment,0.3,"[Account passwords, Account owner name, DOB, E..."
29,09-2020,Mailfire,web services,0.1,"[Name, Age, DOB, Gender, Location of message s..."
30,10-2016,Hitachi Payment Services System,e commerce,3.2,"[debit card number, PIN]"
31,01-2019,SBI,e commerce,3.5,"[mobile numbers, partial account numbers, acco..."
32,04-2019,Justdial,web services,100.0,"[names, mobile numbers, email ids, occupations..."
33,10-2019,Multiple Indian Banks,e commerce,1.3,"[names, emails, phone numbers, addresses]"
34,11-2020,BigBasket,e commerce,20.0,"[email id, phone numbers, order details, addre..."
35,05-2020,Unacademy,education,20.0,"[IDs, passwords, date joined, last login date,..."
36,05-2021,Air India,airlines,4.5,"[passport, credit card details, birth dates, n..."
37,05-2021,Dominos,e commerce,180.0,"[order details, email addresses, phone numbers..."

In [6]:
type(data2.type[0])

str

In [7]:
Names = [ i["Title"] for i in data ]
dates = [ i["BreachDate"] for i in data ]
cat = [ None for i in data]
feilds = [ i["DataClasses"] for i in data ]
count = [ i["PwnCount"] for i in data ]

In [8]:
for idx, val in enumerate(data2["Date"]):
    Names.append(data2["Org"][idx])
    dates.append(data2["Date"][idx])
    cat.append(data2["Category"][idx])
#     print(data2["type"][idx].split(",").trim())
    feilds.append(data2["type"][idx].split(","))
    count.append(data2["breach_count"][idx]*1000000)

In [9]:
Df_data = pd.DataFrame([Names, dates, cat, feilds, count])
Df_data = Df_data.T
Df_data.columns=["Org", "Breach Date", "Category", "Data Feilds", "People Impacted"]

### Sample data for company size

In [10]:
MAX_SIZE = 1e9
Df_data['Org Size'] = randint(MAX_SIZE, size=len(Df_data['Org']), dtype=int)

# temp = []
# for i in range(len(Df_data['Org'])):
#     temp.append(int(randint(MAX_SIZE)))
# Df_data['Org Size'] = temp

In [11]:
type(Df_data['Org Size'][0])

numpy.int64

## Make dict and Save data as json

demo: {
      labels: ["Label 1", "Label 2", "Label 3"],
      datasets: [{
         label: 'Legend',
         data: [{
            x: -10,
            y: 0,
         }, {
            x: 0,
            y: 10
         }, {
            x: 10,
            y: 5
         }]
      }]
   }

In [12]:
final = { "labels": [], 
         "datasets":[{"backgroundColor": "purple",
                      "pointBackgroundColor": "#80008069",
                      "pointHoverBackgroundColor": "red",
                      "pointHoverRadius": "5",
                      "label": 'Legend',
                      "data": []}] }

In [13]:
for num, i in enumerate(Df_data['Org']):
    final['labels'].append(i)
    final['datasets'][0]['data'].append({
                                "x": int(Df_data['Org Size'][num]),
                                "y": int(len(Df_data['Data Feilds'][num])*Df_data['People Impacted'][num])
                                })

out_file = open("./plotting/data/plotting_file.json", "w") 
    
json.dump(final, out_file, indent = 4) 
    
out_file.close()

Df_data["People Impacted"].hist()

Df_data[Df_data["People Impacted"] < 1e9].hist()

## Data2

In [14]:
data2

,Date,Org,Category,breach_count,type
0,10-2017,Yahoo,web services,3000.0,"[ Security questions, security answers]"
1,03-2018,UIDAI,AADHAR,1100.0,"[ Names, Aadhar number, bank details]"
2,04-2019,Facebook,social media,540.0,"[comments, likes, reactions, account names, FB..."
3,2014,Yahoo,web services,500.0,"[names, email addresses, phone numbers, hashed..."
4,06-2013,MySpace,social media,360.0,"[owner’s listed name, username, birthdate]"
5,06-2018,Exactis,web services,340.0,"[phone numbers, home, and email addresses, int..."
6,05-2018,Twitter,social media,330.0,[password]
7,10-2015,NetEase,web services,234.0,"[email address, password]"
8,06-2017,Deep Root Analytics,web services,200.0,[voter Personal Identifiable Information (PII)...
9,12-2018,Dubsmash,social media,162.0,"[email addresses, usernames, DBKDF2 password h..."
10,10-2013,Adobe,e commerce,152.0,"[internal ID, username, email, encrypted passw..."
11,02-2018,MyFitnessPal,health,150.0,"[email addresses, IP addresses, usernames, pas..."
12,09-2017,Equifax,web services,148.0,"[names, home addresses, phone numbers, dates o..."
13,03-2014,ebay,e commerce,145.0,"[names, e-mail addresses, physical addresses, ..."
14,05-2019,Canva,web services,137.0,"[email addresses, names, usernames, cities, pa..."
15,06-2018,Apollo,health,126.0,"[names, email addresses, place of employment, ..."
16,06-2013,Badoo,web services,112.0,"[names, birthdates, passwords, email addresses]"
17,08-2013,Evite,web services,101.0,"[email addresses, phone numbers, names, physic..."
18,12-2018,Quora,social media,100.0,"[names, email addresses, encrypted passwords]"
19,12-2016,Youku,web services,92.0,"[usernames, password]"
20,03-2014,Rambler,search engine,91.0,"[usernames, password]"
21,10-2016,Dailymotion,entertainment,85.0,"[emails, username,passwords]"
22,2012,Dropbox,web services,69.0,"[email addresses, passwords]"
23,02-2013,tumblr,social media,66.0,"[email addresses, passwords]"
24,2016,Uber,transport,57.0,"[names, email addresses, mobile phone numbers,..."
25,01-2021,Bonobos,e commerce,12.3,"[shipping address records, account information..."
26,01-2021,Pixlr,web services,1.9,"[Usernames, Email addresses, Country, password]"
27,04-2020,Zoom,web services,0.5,[login credentials]
28,04-2020,Nintendo,entertainment,0.3,"[Account passwords, Account owner name, DOB, E..."
29,09-2020,Mailfire,web services,0.1,"[Name, Age, DOB, Gender, Location of message s..."
30,10-2016,Hitachi Payment Services System,e commerce,3.2,"[debit card number, PIN]"
31,01-2019,SBI,e commerce,3.5,"[mobile numbers, partial account numbers, acco..."
32,04-2019,Justdial,web services,100.0,"[names, mobile numbers, email ids, occupations..."
33,10-2019,Multiple Indian Banks,e commerce,1.3,"[names, emails, phone numbers, addresses]"
34,11-2020,BigBasket,e commerce,20.0,"[email id, phone numbers, order details, addre..."
35,05-2020,Unacademy,education,20.0,"[IDs, passwords, date joined, last login date,..."
36,05-2021,Air India,airlines,4.5,"[passport, credit card details, birth dates, n..."
37,05-2021,Dominos,e commerce,180.0,"[order details, email addresses, phone numbers..."

In [15]:
# x co-ordinate is time

data2["datetime"] = pd.to_datetime(data2["Date"])
x = [ int(i.month*((100)/(13)) + i.year*100) for i in data2["datetime"] ]
dates = list(data2["datetime"])
# data2["x"] = x

#  r represents "size of breach"; it's normalized to fir in a fixed range
MAX_R, MIN_R = 30, 5
r_ini = []
for num, i in enumerate(data2["breach_count"]):
    r_ini.append( i*len((data2["type"][num].split(","))) )
max_cal, min_cal = max(r_ini), min(r_ini)
r = []
for i in r_ini:
    r.append(  (((i)/(max_cal-min_cal))*(MAX_R - MIN_R)) + MIN_R  )
# data2['r'] = r

## data from online thing

In [16]:
temp_idx, temp = 0, 0
for num, i in enumerate(data):
    if i['PwnCount']*len(i["DataClasses"]) > 0:
        temp = i['PwnCount']*len(i["DataClasses"])
        temp_idx = num
print(temp_idx, temp)
del data[temp_idx]

for i in data:
    temp = pd.to_datetime(i["BreachDate"])
    x.append( int(temp.month*((100)/(13)) + temp.year*100) )
    dates.append(temp)
    r_ini.append( i['PwnCount']*len(i["DataClasses"]) )

r_ini = np.log(r_ini)
max_cal, min_cal = max(r_ini), min(r_ini)
r = []
for i in r_ini:
    r.append(  int((((i - min_cal)/(max_cal-min_cal))*(MAX_R - MIN_R)) + MIN_R)  )

539 5194604

In [17]:
np.log

## Making final JSON

In [18]:
# y represents company size

MAX_SIZE = 100
y = randint(MAX_SIZE, size=len(x), dtype=int)

In [19]:
#  categories for various datasets

cat = list(data2["Category"])
cat += ["NaN"]*len(data)

In [20]:
dict_of_cats = {}
for num, i in enumerate(cat):
    if i in dict_of_cats:
        dict_of_cats[i].append({
                                "x": int(x[num]),
                                "y": int(y[num]),
                                "r": int(r[num])            
                                })
    else:
        dict_of_cats[i] = [ {
                                "x": int(x[num]),
                                "y": int(y[num]),
                                "r": int(r[num])            
                                } ]

[
      {
        label: 'John',
        data: [
          {
            x: 3,
            y: 7,
            r: 10
          }
        ],
        backgroundColor:"#ff6384",
        hoverBackgroundColor: "#ff6384"
      },
      {
        label: 'George',
          data: [
            {
              x: 1,
              y: 2,
              r: 10
            }
          ],
          backgroundColor:"#ff6384",
          hoverBackgroundColor: "#ff6384"
      }
      ]

In [21]:
final = {}
final["dataset1"] = [{
                        "label":i,
                        "data": dict_of_cats[i],
                        "backgroundColor":"#80008069",
                        "hoverBackgroundColor": "#000000AA"                    
                    } for i in dict_of_cats ]

## Group by year

In [22]:
Df_group = pd.DataFrame([dates, x,y, r]).T
Df_group.columns = ["dates", "x", "y", "r" ]
Df_group["year"] = Df_group.dates.dt.year

In [23]:
Df_group["x"] = Df_group["x"].astype("str").astype("int")
Df_group["y"] = Df_group["y"].astype("str").astype("int")
Df_group["r"] = Df_group["r"].astype("str").astype("int")

In [24]:
Df_group.groupby("year")["x", "y", "r"].agg(["mean", "count"])["x"]["count"]

/home/rishabh_/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

year
2007     1
2008     3
2009     2
2010     3
2011    17
2012    19
2013    33
2014    49
2015    75
2016    94
2017    54
2018    77
2019    60
2020    68
2021    22
Name: count, dtype: int64

In [25]:
Df_group = Df_group.groupby("year")["x", "y", "r"].agg(["mean", "count"])

/home/rishabh_/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [26]:
# for num, i in enumerate(Df_group["x"]["mean"]):
#     print(num, i)
#     print(num, int(Df_group["y"]["mean"]))
#     print(num, int(Df_group["r"]["mean"]))
    
Df_group["x"]["mean"]

year
2007    200753.000000
2008    200853.000000
2009    200907.000000
2010    201068.666667
2011    201156.176471
2012    201239.157895
2013    201354.303030
2014    201438.306122
2015    201557.586667
2016    201649.574468
2017    201745.555556
2018    201852.129870
2019    201946.266667
2020    202043.426471
2021    202117.772727
Name: mean, dtype: float64

final["dataset2"] = [{
                        "label": (2007+num),
                        "data": [{
                                    "x": int(i),
                                    "y":int(Df_group["y"]["mean"][num]),
                                    "r": int(Df_group["r"]["mean"][num])
                                }],
                        "backgroundColor":"#80008069",
                        "hoverBackgroundColor": "#000000AA"
                    }  for num,i in enumerate(Df_group["x"]["mean"]) ]

In [35]:
final["dataset2"] = [{
                        "label": (2007+num),
                        "data":[{
#                                     "x": int(i),
                                     "x": (2007+num),
                                    "y": 0,
                                    "r": 0
                                }],
                        "backgroundColor":"#80008069",
                        "hoverBackgroundColor": "#000000AA"
                    } for num, i in enumerate(Df_group["x"]["mean"])]

for num, i in enumerate(Df_group["x"]["count"]):
    final["dataset2"][num]["data"][0]["y"] = int(i)
for num, i in enumerate(Df_group["r"]["mean"]):
    final["dataset2"][num]["data"][0]["r"] = int(i)

In [36]:
final["dataset2"]

[{'label': 2007,
  'data': [{'x': 2007, 'y': 1, 'r': 23}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2008,
  'data': [{'x': 2008, 'y': 3, 'r': 23}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2009,
  'data': [{'x': 2009, 'y': 2, 'r': 22}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2010,
  'data': [{'x': 2010, 'y': 3, 'r': 22}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2011,
  'data': [{'x': 2011, 'y': 17, 'r': 22}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2012,
  'data': [{'x': 2012, 'y': 19, 'r': 22}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2013,
  'data': [{'x': 2013, 'y': 33, 'r': 20}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2014,
  'data': [{'x': 2014, 'y': 49, 'r': 20}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2015,
  'data': [{'x': 2015, 'y': 75, 'r': 21}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2016,
  'data': [{'x': 2016, 'y': 94, 'r': 21}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2017,
  'data': [{'x': 2017, 'y': 54, 'r': 21}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2018,
  'data': [{'x': 2018, 'y': 77, 'r': 21}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2019,
  'data': [{'x': 2019, 'y': 60, 'r': 21}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2020,
  'data': [{'x': 2020, 'y': 68, 'r': 21}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'},
 {'label': 2021,
  'data': [{'x': 2021, 'y': 22, 'r': 19}],
  'backgroundColor': '#80008069',
  'hoverBackgroundColor': '#000000AA'}]

In [37]:
out_file = open("./plotting/data/plotting_file2.json", "w") 
    
json.dump(final, out_file, indent = 4) 
    
out_file.close()