In [35]:
import pandas as pd
import numpy as np

In [2]:
from data.databreach2 import data

In [6]:
print("num data points: ", len(data))
print("columns: ", data[0].keys())

num data points:  540
columns:  dict_keys(['Name', 'Title', 'Domain', 'BreachDate', 'AddedDate', 'ModifiedDate', 'PwnCount', 'Description', 'LogoPath', 'DataClasses', 'IsVerified', 'IsFabricated', 'IsSensitive', 'IsRetired', 'IsSpamList'])

In [13]:
Names = [ i["Title"] for i in data ]
dates = [ i["BreachDate"] for i in data ]
cat = [ None for i in data]
feilds = [ i["DataClasses"] for i in data ]
count = [ i["PwnCount"] for i in data ]

In [26]:
Df_data = pd.DataFrame([Names, dates, cat, feilds, count])
Df_data = Df_data.T
Df_data.columns=["Org", "Breach Date", "Category", "Data Feilds", "People Impacted"]

In [27]:
Df_data

,Org,Breach Date,Category,Data Feilds,People Impacted
0,000webhost,2015-03-01,None,"[Email addresses, IP addresses, Names, Passwords]",14936670
1,123RF,2020-03-22,None,"[Email addresses, IP addresses, Names, Passwor...",8661578
2,126,2012-01-01,None,"[Email addresses, Passwords]",6414191
3,17,2016-04-19,None,"[Device information, Email addresses, IP addre...",4009640
4,17173,2011-12-28,None,"[Email addresses, Passwords, Usernames]",7485802
...,...,...,...,...,...
535,Zooville,2019-09-27,None,"[Dates of birth, Email addresses, IP addresses...",71407
536,Zynga,2019-09-01,None,"[Email addresses, Passwords, Phone numbers, Us...",172869660
537,Пара Па,2016-08-08,None,"[Email addresses, Passwords, Usernames]",4946850
538,Спрашивай.ру,2015-05-11,None,"[Dates of birth, Email addresses, Genders, Geo...",3474763
539,집꾸미기,2020-03-27,None,"[Email addresses, Names, Phone numbers, Userna...",1298651

In [40]:
unique_cats = []
for i in data:
    for j in i["DataClasses"]:
        unique_cats.append(j)
unique_cats = np.array(unique_cats)
unique_cats = np.unique(unique_cats)

In [41]:
print(unique_cats)

['Account balances' 'Address book contacts' 'Age groups' 'Ages'
 'Apps installed on devices' 'Astrological signs' 'Audio recordings'
 'Auth tokens' 'Avatars' 'Bank account numbers' 'Beauty ratings'
 'Biometric data' 'Bios' 'Browser user agent details' 'Browsing histories'
 'Buying preferences' 'Car ownership statuses' 'Career levels'
 'Cellular network names' 'Charitable donations' 'Chat logs'
 'Credit card CVV' 'Credit cards' 'Credit status information'
 'Customer feedback' 'Customer interactions' 'Dates of birth'
 'Deceased date' 'Deceased statuses' 'Device information'
 'Device serial numbers' 'Device usage tracking data' 'Drinking habits'
 'Drug habits' 'Eating habits' 'Education levels' 'Email addresses'
 'Email messages' 'Employers' 'Employment statuses' 'Encrypted keys'
 'Ethnicities' "Family members' names" 'Family structure'
 'Financial investments' 'Financial transactions' 'Fitness levels'
 'Genders' 'Geographic locations' 'Government issued IDs'
 'Health insurance information' 'Historical passwords'
 'Home loan information' 'Home ownership statuses' 'Homepage URLs'
 'IMEI numbers' 'IMSI numbers' 'IP addresses' 'Income levels'
 'Instant messenger identities' 'Job applications' 'Job titles'
 'Licence plates' 'Living costs' 'Login histories' 'MAC addresses'
 'Marital statuses' 'Mnemonic phrases' 'Mothers maiden names' 'Names'
 'Nationalities' 'Net worths' 'Nicknames' 'Occupations' 'PINs'
 'Parenting plans' 'Partial credit card data' 'Partial dates of birth'
 'Passport numbers' 'Password hints' 'Password strengths' 'Passwords'
 'Payment histories' 'Payment methods' 'Personal descriptions'
 'Personal health data' 'Personal interests' 'Phone numbers' 'Photos'
 'Physical addresses' 'Physical attributes' 'Places of birth'
 'Political donations' 'Political views' 'Private messages'
 'Professional skills' 'Profile photos' 'Purchases' 'Purchasing habits'
 'Races' 'Recovery email addresses' 'Relationship statuses' 'Religions'
 'Reward program balances' 'SMS messages' 'Salutations'
 'School grades (class levels)' 'Security questions and answers'
 'Sexual fetishes' 'Sexual orientations' 'Smoking habits'
 'Social connections' 'Social media profiles' 'Social security numbers'
 'Spoken languages' 'Spouses names' 'Support tickets' 'Survey results'
 'Taxation records' 'Time zones' 'Travel habits' 'User statuses'
 'User website URLs' 'Usernames' 'Utility bills' 'Vehicle details'
 'Website activity' 'Work habits' 'Years of professional experience']