In [11]:
import pandas as pd
from random import randint
from math import log

In [2]:
Df = pd.read_csv("./databreach.csv")
Df["Date"] = pd.to_datetime(Df["Date"])
Df["data_classes"] = [ i.split(",") for i in Df["data_classes"] ]

In [3]:
Df

,Date,Org,category,breach_count(Million),employee_count,data_classes
0,2017-10-01,Yahoo,web services,3000.0,8600.0,[Security questions and answers]
1,2018-03-01,UIDAI,AADHAR,1100.0,NaN,"[Names, Aadhar number, Bank account numbers]"
2,2014-01-01,Yahoo,web services,500.0,8600.0,"[Names, Email addresses, Phone numbers, Passwo..."
3,2013-06-01,MySpace,social media,360.0,150.0,"[Names, Usernames, Dates of birth]"
4,2018-06-01,Exactis,web services,340.0,NaN,"[Phone numbers, Physical addresses, Email addr..."
5,2018-05-01,Twitter,social media,330.0,5500.0,[Passwords]
6,2013-10-01,Adobe,e commerce,152.0,22516.0,"[Usernames, Email addresses, Passwords, Passwo..."
7,2018-02-01,MyFitnessPal,health,150.0,NaN,"[Email addresses, IP addresses, Usernames, Pas..."
8,2017-09-01,Equifax,web services,148.0,11200.0,"[Names, Physical addresses, Phone numbers, Dat..."
9,2014-03-01,ebay,e commerce,145.0,13300.0,"[Names, Email addresses, Physical addresses, P..."
10,2019-05-01,Canva,web services,137.0,1500.0,"[Email addresses, Names, Usernames, Physical a..."
11,2018-06-01,Apollo,health,126.0,62939.0,"[Names, Email addresses, Geographic locations,..."
12,2018-12-01,Quora,social media,100.0,250.0,"[Names, Email addresses, Passwords]"
13,2016-12-01,Youku,web services,92.0,2104.0,"[Usernames, Passwords]"
14,2016-10-01,Dailymotion,entertainment,85.0,44641.0,"[Email addresses, Usernames, Passwords]"
15,2012-01-01,Dropbox,web services,69.0,2548.0,"[Email addresses, Passwords]"
16,2013-02-01,tumblr,social media,66.0,411.0,"[Email addresses, Passwords]"
17,2021-01-01,Bonobos,e commerce,12.3,NaN,"[Physical addresses, Purchasing habits, Buying..."
18,2021-01-01,Pixlr,web services,1.9,10300.0,"[Usernames, Email addresses, Geographic locati..."
19,2020-04-01,Zoom,web services,0.5,2532.0,"[Usernames, Email addresses, Passwords]"
20,2020-04-01,Nintendo,entertainment,0.3,6547.0,"[Passwords, Names, Dates of birth, Email addre..."
21,2016-10-01,Hitachi Payment Services System,e commerce,3.2,295941.0,"[debit card number, PINs]"
22,2019-01-01,SBI,e commerce,3.5,245642.0,"[Phone numbers, Bank account numbers, Account ..."
23,2019-04-01,Justdial,web services,100.0,10984.0,"[Names, Phone numbers, Email addresses, Employ..."
24,2019-10-01,Multiple Indian Banks,e commerce,1.3,NaN,"[Names, Email addresses, Passwords, Physical a..."
25,2020-11-01,BigBasket,e commerce,20.0,NaN,"[Email addresses, Phone numbers, Purchases, Ph..."
26,2020-05-01,Unacademy,education,20.0,4859.0,"[Usernames, Passwords, date joined, last login..."
27,2021-05-01,Air India,airlines,4.5,9993.0,"[Passport numbers, Credit cards, Dates of birt..."
28,2021-05-01,Dominos,e commerce,180.0,14400.0,"[Purchases, Email addresses, Phone numbers, Cr..."

### group by year

In [4]:
Df["year"] = Df.Date.dt.year
Df_year = pd.DataFrame(Df.groupby("year")["Date"].agg("count"))
Df = Df.drop(["year"], axis=1)

Df_year

Df_year.to_csv("./final/year_bar_chart.csv")

### generate mock data for missing employee counts

In [5]:
temp = []
for i in Df["employee_count"]:
    try:
        temp.append(int(i))
    except:
        temp.append(randint(0,1000))
Df["employee_count"] = temp

### scatter plot and exposure index

In [12]:
log(3)

1.0986122886681098

In [13]:
Df['exposure_index'] = [
                        log((Df["breach_count(Million)"][num])*len(i))
                        for num, i in enumerate(Df["data_classes"])
                        ]
Df_scatter = Df[["exposure_index", "employee_count", "category", "Org"]]

In [14]:
Df_scatter

,exposure_index,employee_count,category,Org
0,8.006368,8600,web services,Yahoo
1,8.101678,919,AADHAR,UIDAI
2,8.006368,8600,web services,Yahoo
3,6.984716,150,social media,MySpace
4,7.620705,263,web services,Exactis
5,5.799093,5500,social media,Twitter
6,6.410175,22516,e commerce,Adobe
7,6.396930,802,health,MyFitnessPal
8,6.943122,11200,web services,Equifax
9,6.768493,13300,e commerce,ebay
10,6.529419,1500,web services,Canva
11,6.445720,62939,health,Apollo
12,5.703782,250,social media,Quora
13,5.214936,2104,web services,Youku
14,5.541264,44641,entertainment,Dailymotion
15,4.927254,2548,web services,Dropbox
16,4.882802,411,social media,tumblr
17,3.895894,872,e commerce,Bonobos
18,2.028148,10300,web services,Pixlr
19,0.405465,2532,web services,Zoom
20,0.405465,6547,entertainment,Nintendo
21,1.856298,295941,e commerce,Hitachi Payment Services System
22,2.639057,245642,e commerce,SBI
23,6.214608,10984,web services,Justdial
24,1.648659,423,e commerce,Multiple Indian Banks
25,4.382027,660,e commerce,BigBasket
26,4.941642,4859,education,Unacademy
27,3.113515,9993,airlines,Air India
28,6.579251,14400,e commerce,Dominos

In [15]:
Df_scatter.to_csv("./final/scatter_data.csv")