In [1]:
import pandas as pd
from random import randint
from math import log
import json

In [2]:
Df = pd.read_csv("./databreach.csv")
Df["Date"] = pd.to_datetime(Df["Date"])
Df["data_classes"] = [ i.split(",") for i in Df["data_classes"] ]

In [3]:
Df.head()

,Date,Org,category,breach_count(Million),employee_count,data_classes
0,2017-10-01,Yahoo,web services,3000.0,8600,[Security questions and answers]
1,2018-03-01,UIDAI,public welfare,1100.0,383,"[Names, Aadhar number, Bank account numbers]"
2,2014-12-01,Yahoo,web services,500.0,8600,"[Names, Email addresses, Phone numbers, Passwo..."
3,2013-06-01,MySpace,social media,360.0,150,"[Names, Usernames, Dates of birth]"
4,2018-06-01,Exactis,web services,340.0,22,"[Phone numbers, Physical addresses, Email addr..."

## Bar  graph of Data-Breaches over Time:

In [4]:
Df["year"] = Df.Date.dt.year
Df_year = pd.DataFrame(Df.groupby("year")['breach_count(Million)'].agg(["count", "sum"]))

In [5]:
info_lost = {}
for i in Df["year"]:
    info_lost[i] = 0
for num, i in enumerate(Df["year"]):
    info_lost[i] += Df["breach_count(Million)"][num]*1e6*len( Df["data_classes"] )
temp = []
for i in range(2012,2022):
    try:
#         print(i)
#         print(info_lost[i])
        temp.append(info_lost[i])
    except:
        pass
Df_year["info_lost"] = temp
Df_year.columns = ["Number of Data Breaches", "Individuals impacted (Millions)",
                          "Cumulative Exposure Index"]

In [6]:
Df_year

,Number of Data Breaches,Individuals impacted (Millions),Cumulative Exposure Index
year,,,
2012,1,69.0000,2.277000e+09
2013,4,878.0000,2.897400e+10
2014,2,645.0000,2.128500e+10
2015,1,0.1500,4.950000e+06
2016,3,180.2000,5.946600e+09
2017,2,3148.0000,1.038840e+11
2018,6,2146.0000,7.081800e+10
2019,3,240.5000,7.936500e+09
2020,4,40.8000,1.346400e+09
2021,7,234.2015,7.728650e+09

In [7]:
Df_year.to_csv("./final/year_bar_chart.csv")

### generate mock data for missing employee counts (No longer used)

In [8]:
temp = []
for i in Df["employee_count"]:
    try:
        temp.append(int(i))
    except:
        temp.append(randint(0,1000))
Df["employee_count"] = temp

### scatter plot and exposure index

In [9]:
Df['exposure_index'] = [
                        log((Df["breach_count(Million)"][num])*len(i))
                        for num, i in enumerate(Df["data_classes"])
                        ]
Df_scatter = Df[["breach_count(Million)","exposure_index", "employee_count", "category", "Org","Date", "data_classes"]]
Df_scatter["exposure_index"] -= min(Df_scatter["exposure_index"])
Df_scatter.columns = ["breach_count(Million)","Relative Exposure Index", "employee_count", "category", "Org","Date", "data_classes"]

/home/rishabh_/.local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
Df_scatter.head()

,breach_count(Million),Relative Exposure Index,employee_count,category,Org,Date,data_classes
0,3000.0,12.899220,8600,web services,Yahoo,2017-10-01,[Security questions and answers]
1,1100.0,12.994530,383,public welfare,UIDAI,2018-03-01,"[Names, Aadhar number, Bank account numbers]"
2,500.0,12.899220,8600,web services,Yahoo,2014-12-01,"[Names, Email addresses, Phone numbers, Passwo..."
3,360.0,11.877569,150,social media,MySpace,2013-06-01,"[Names, Usernames, Dates of birth]"
4,340.0,12.513557,22,web services,Exactis,2018-06-01,"[Phone numbers, Physical addresses, Email addr..."

In [11]:
Df_scatter.to_csv("./final/scatter_data.csv")

### network graph

In [12]:
#  importing categories
Df_cats = pd.read_csv("./Classes_to_Cats.csv")
Df_cats["Data_category"] = [i.split(",") for i in Df_cats["Data_category"]]
Df_cats.head()

      Data_classes  Data_category
0  Email addresses          [PII]
1        Passwords    [passwords]
2        Usernames          [PII]
3     IP addresses  [device info]
4            Names          [PII]

In [13]:
# unique cats
unique_cats = {}
for i in Df_cats["Data_category"]:
    for j in i:
        if j not in unique_cats:
            unique_cats[j] = 0
unique_cats = list(unique_cats.keys())
unique_cats

['PII',
 'passwords',
 'device info',
 'demographics',
 'geolocation',
 'consumer behavior',
 'personal communication',
 'employment history',
 'financial info',
 'health',
 'social',
 'password']

In [14]:
class_to_cat = {}
for i in Df_cats.iterrows():
    class_to_cat[i[1][0]] = i[1][1][0]

In [15]:
# data_cats exposed
cats_exposed = []
for i in Df.data_classes:
    temp = []
    for j in i:
        if class_to_cat[j] not in temp:
            temp.append(class_to_cat[j])
    cats_exposed.append(temp)
Df["data_cats"] = cats_exposed
Df.head()

,Date,Org,category,breach_count(Million),employee_count,data_classes,year,exposure_index,data_cats
0,2017-10-01,Yahoo,web services,3000.0,8600,[Security questions and answers],2017,8.006368,[passwords]
1,2018-03-01,UIDAI,public welfare,1100.0,383,"[Names, Aadhar number, Bank account numbers]",2018,8.101678,"[PII, financial info]"
2,2014-12-01,Yahoo,web services,500.0,8600,"[Names, Email addresses, Phone numbers, Passwo...",2014,8.006368,"[PII, passwords, demographics]"
3,2013-06-01,MySpace,social media,360.0,150,"[Names, Usernames, Dates of birth]",2013,6.984716,"[PII, demographics]"
4,2018-06-01,Exactis,web services,340.0,22,"[Phone numbers, Physical addresses, Email addr...",2018,7.620705,"[PII, geolocation, consumer behavior, demograp..."

In [16]:
final_network_data = []

In [17]:
for i in unique_cats:
    count = 0
    for j in unique_cats:
        if i != j:
            for point in Df.data_cats:
                if (i in point) and (j in point):
                    final_network_data.append({
                                    "data":{
                                            'source': i.lower(),
                                            'target': j.lower()
                                            }
                                })
                    count += 1
    if count:
        final_network_data.append({
                            'data':{
                                    'id': i.lower(),
                                    'label':i
                                    }
                            })

In [18]:
final_network_data

[{'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'passwords'}},
 {'data': {'source': 'pii', 'target': 'device info'}},
 {'data': {'source': 'pii', 'target': 'device info'}},
 {'data': {'source': 'pii', 'target': 'demographics'}},
 {'data': {'source': 'pii', 'target': 'demographics'}},
 {'data': {'source': 'pii', 'target': 'demographics'}},
 {'data': {'source': 'pii', 'target': 'demographics'}},
 {'data': {'source': 'pii', 'target': 'demographics'}},
 {'data': {'source': 'pii', 'target': 'demographics'}},
 {'data': {'source': 'pii', 'target': 'demographics'}},
 {'data': {'source': 'pii', 'target': 'demographics'}},
 {'data': {'source': 'pii', 'target': 'demographics'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'geolocation'}},
 {'data': {'source': 'pii', 'target': 'consumer behavior'}},
 {'data': {'source': 'pii', 'target': 'consumer behavior'}},
 {'data': {'source': 'pii', 'target': 'consumer behavior'}},
 {'data': {'source': 'pii', 'target': 'consumer behavior'}},
 {'data': {'source': 'pii', 'target': 'consumer behavior'}},
 {'data': {'source': 'pii', 'target': 'consumer behavior'}},
 {'data': {'source': 'pii', 'target': 'employment history'}},
 {'data': {'source': 'pii', 'target': 'employment history'}},
 {'data': {'source': 'pii', 'target': 'financial info'}},
 {'data': {'source': 'pii', 'target': 'financial info'}},
 {'data': {'source': 'pii', 'target': 'financial info'}},
 {'data': {'source': 'pii', 'target': 'financial info'}},
 {'data': {'source': 'pii', 'target': 'financial info'}},
 {'data': {'source': 'pii', 'target': 'financial info'}},
 {'data': {'source': 'pii', 'target': 'health'}},
 {'data': {'id': 'pii', 'label': 'PII'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'pii'}},
 {'data': {'source': 'passwords', 'target': 'device info'}},
 {'data': {'source': 'passwords', 'target': 'demographics'}},
 {'data': {'source': 'passwords', 'target': 'demographics'}},
 {'data': {'source': 'passwords', 'target': 'demographics'}},
 {'data': {'source': 'passwords', 'target': 'geolocation'}},
 {'data': {'source': 'passwords', 'target': 'geolocation'}},
 {'data': {'source': 'passwords', 'target': 'geolocation'}},
 {'data': {'source': 'passwords', 'target': 'geolocation'}},
 {'data': {'source': 'passwords', 'target': 'consumer behavior'}},
 {'data': {'source': 'passwords', 'target': 'financial info'}},
 {'data': {'id': 'passwords', 'label': 'passwords'}},
 {'data': {'source': 'device info', 'target': 'pii'}},
 {'data': {'source': 'device info', 'target': 'pii'}},
 {'data': {'source': 'device info', 'target': 'passwords'}},
 {'data': {'source': 'device info', 'target': 'geolocation'}},
 {'data': {'source': 'device info', 'target': 'consumer behavior'}},
 {'data': {'source': 'device info', 'target': 'financial info'}},
 {'data': {'id': 'device info', 'label': 'device info'}},
 {'data': {'source': 'demographics', 'target': 'pii'}},
 {'data': {'source': 'demographics', 'target': 'pii'}},
 {'data': {'source': 'demographics', 'target': 'pii'}},
 {'data': {'source': 'demographics', 'target': 'pii'}},
 {'data': {'source': 'demographics', 'target': 'pii'}},
 {'data': {'source': 'demographics', 'target': 'pii'}},
 {'data': {'source': 'demographics', 'target': 'pii'}},
 {'data': {'source': 'demographics', 'target': 'pii'}},
 {'data': {'source': 'demographics', 'target': 'pii'}},
 {'data': {'source': 'demographics', 'target': 'passwords'}},
 {'data': {'source': 'demographics', 'target': 'passwords'}},
 {'data': {'source': 'demographics', 'target': 'passwords'}},
 {'data': {'source': 'demographics', 'target': 'geolocation'}},
 {'data': {'source': 'demographics', 'target': 'geolocation'}},
 {'data': {'source': 'demographics', 'target': 'geolocation'}},
 {'data': {'source': 'demographics', 'target': 'geolocation'}},
 {'data': {'source': 'demographics', 'target': 'geolocation'}},
 {'data': {'source': 'demographics', 'target': 'geolocation'}},
 {'data': {'source': 'demographics', 'target': 'consumer behavior'}},
 {'data': {'source': 'demographics', 'target': 'consumer behavior'}},
 {'data': {'source': 'demographics', 'target': 'financial info'}},
 {'data': {'source': 'demographics', 'target': 'financial info'}},
 {'data': {'source': 'demographics', 'target': 'health'}},
 {'data': {'id': 'demographics', 'label': 'demographics'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'pii'}},
 {'data': {'source': 'geolocation', 'target': 'passwords'}},
 {'data': {'source': 'geolocation', 'target': 'passwords'}},
 {'data': {'source': 'geolocation', 'target': 'passwords'}},
 {'data': {'source': 'geolocation', 'target': 'passwords'}},
 {'data': {'source': 'geolocation', 'target': 'device info'}},
 {'data': {'source': 'geolocation', 'target': 'demographics'}},
 {'data': {'source': 'geolocation', 'target': 'demographics'}},
 {'data': {'source': 'geolocation', 'target': 'demographics'}},
 {'data': {'source': 'geolocation', 'target': 'demographics'}},
 {'data': {'source': 'geolocation', 'target': 'demographics'}},
 {'data': {'source': 'geolocation', 'target': 'demographics'}},
 {'data': {'source': 'geolocation', 'target': 'consumer behavior'}},
 {'data': {'source': 'geolocation', 'target': 'consumer behavior'}},
 {'data': {'source': 'geolocation', 'target': 'consumer behavior'}},
 {'data': {'source': 'geolocation', 'target': 'consumer behavior'}},
 {'data': {'source': 'geolocation', 'target': 'employment history'}},
 {'data': {'source': 'geolocation', 'target': 'employment history'}},
 {'data': {'source': 'geolocation', 'target': 'financial info'}},
 {'data': {'source': 'geolocation', 'target': 'financial info'}},
 {'data': {'source': 'geolocation', 'target': 'financial info'}},
 {'data': {'source': 'geolocation', 'target': 'health'}},
 {'data': {'id': 'geolocation', 'label': 'geolocation'}},
 {'data': {'source': 'consumer behavior', 'target': 'pii'}},
 {'data': {'source': 'consumer behavior', 'target': 'pii'}},
 {'data': {'source': 'consumer behavior', 'target': 'pii'}},
 {'data': {'source': 'consumer behavior', 'target': 'pii'}},
 {'data': {'source': 'consumer behavior', 'target': 'pii'}},
 {'data': {'source': 'consumer behavior', 'target': 'pii'}},
 {'data': {'source': 'consumer behavior', 'target': 'passwords'}},
 {'data': {'source': 'consumer behavior', 'target': 'device info'}},
 {'data': {'source': 'consumer behavior', 'target': 'demographics'}},
 {'data': {'source': 'consumer behavior', 'target': 'demographics'}},
 {'data': {'source': 'consumer behavior', 'target': 'geolocation'}},
 {'data': {'source': 'consumer behavior', 'target': 'geolocation'}},
 {'data': {'source': 'consumer behavior', 'target': 'geolocation'}},
 {'data': {'source': 'consumer behavior', 'target': 'geolocation'}},
 {'data': {'source': 'consumer behavior', 'target': 'financial info'}},
 {'data': {'source': 'consumer behavior', 'target': 'financial info'}},
 {'data': {'source': 'consumer behavior', 'target': 'financial info'}},
 {'data': {'source': 'consumer behavior', 'target': 'financial info'}},
 {'data': {'id': 'consumer behavior', 'label': 'consumer behavior'}},
 {'data': {'source': 'employment history', 'target': 'pii'}},
 {'data': {'source': 'employment history', 'target': 'pii'}},
 {'data': {'source': 'employment history', 'target': 'geolocation'}},
 {'data': {'source': 'employment history', 'target': 'geolocation'}},
 {'data': {'id': 'employment history', 'label': 'employment history'}},
 {'data': {'source': 'financial info', 'target': 'pii'}},
 {'data': {'source': 'financial info', 'target': 'pii'}},
 {'data': {'source': 'financial info', 'target': 'pii'}},
 {'data': {'source': 'financial info', 'target': 'pii'}},
 {'data': {'source': 'financial info', 'target': 'pii'}},
 {'data': {'source': 'financial info', 'target': 'pii'}},
 {'data': {'source': 'financial info', 'target': 'passwords'}},
 {'data': {'source': 'financial info', 'target': 'device info'}},
 {'data': {'source': 'financial info', 'target': 'demographics'}},
 {'data': {'source': 'financial info', 'target': 'demographics'}},
 {'data': {'source': 'financial info', 'target': 'geolocation'}},
 {'data': {'source': 'financial info', 'target': 'geolocation'}},
 {'data': {'source': 'financial info', 'target': 'geolocation'}},
 {'data': {'source': 'financial info', 'target': 'consumer behavior'}},
 {'data': {'source': 'financial info', 'target': 'consumer behavior'}},
 {'data': {'source': 'financial info', 'target': 'consumer behavior'}},
 {'data': {'source': 'financial info', 'target': 'consumer behavior'}},
 {'data': {'id': 'financial info', 'label': 'financial info'}},
 {'data': {'source': 'health', 'target': 'pii'}},
 {'data': {'source': 'health', 'target': 'demographics'}},
 {'data': {'source': 'health', 'target': 'geolocation'}},
 {'data': {'id': 'health', 'label': 'health'}}]

In [19]:
# saving json
json_object = json.dumps(final_network_data, indent = 4)
with open("./final/network_data.json", "w") as outfile:
    outfile.write(json_object)

### network graph cleaned cats

In [20]:
Df_cleaned = pd.read_csv("./Classes_to_Cats_revised.csv")
Df_cleaned = Df_cleaned[["Data_classes", "Data_classes_shorterned_cleaned"]]

In [21]:
Df_cleaned

               Data_classes Data_classes_shorterned_cleaned
0             Aadhar number                         aadhar
1          Account balances                account balances
2        Physical addresses                         address
3            Dates of birth                             age
4    Partial dates of birth                             age
..                      ...                             ...
129           User statuses                    profile data
130       User website URLs                    profile data
131               Usernames                       usernames
132           Utility bills                           bills
133         Vehicle details                        vehicle

[134 rows x 2 columns]

In [22]:
unique_cleaned_cats = {}
for i in Df_cleaned["Data_classes_shorterned_cleaned"]:
    if i not in unique_cleaned_cats:
        unique_cleaned_cats[i] = 0
unique_cleaned_cats = list(unique_cleaned_cats.keys())

In [23]:
class_to_clean = {}
for i in Df_cleaned.iterrows():
    class_to_clean[i[1][0]] = i[1][1]

In [24]:
clean_exposed = []
for i in Df.data_classes:
    temp = []
    for j in i:
        if class_to_clean[j] not in temp:
            temp.append(class_to_clean[j])
    clean_exposed.append(temp)
Df["data_clean"] = clean_exposed
Df.head()

,Date,Org,category,breach_count(Million),employee_count,data_classes,year,exposure_index,data_cats,data_clean
0,2017-10-01,Yahoo,web services,3000.0,8600,[Security questions and answers],2017,8.006368,[passwords],[passwords]
1,2018-03-01,UIDAI,public welfare,1100.0,383,"[Names, Aadhar number, Bank account numbers]",2018,8.101678,"[PII, financial info]","[names, aadhar , bank account ]"
2,2014-12-01,Yahoo,web services,500.0,8600,"[Names, Email addresses, Phone numbers, Passwo...",2014,8.006368,"[PII, passwords, demographics]","[names, email addresses, phone, passwords, age]"
3,2013-06-01,MySpace,social media,360.0,150,"[Names, Usernames, Dates of birth]",2013,6.984716,"[PII, demographics]","[names, usernames, age]"
4,2018-06-01,Exactis,web services,340.0,22,"[Phone numbers, Physical addresses, Email addr...",2018,7.620705,"[PII, geolocation, consumer behavior, demograp...","[phone, address, email addresses, interests, f..."

In [25]:
final_clean_data = {"nodes":[],"edges":[]}
already_connected = { i:[] for i in unique_cleaned_cats }

In [26]:
for i in unique_cleaned_cats:
    count = 0
    for j in unique_cleaned_cats:
        if i != j:
            for point in Df.data_clean:
                if (i in point) and (j in point):
                    if (j not in already_connected[i]):
                        final_clean_data["edges"].append({
                                        "id":i.lower()+"-"+j.lower(),
                                        "from":i.lower(),
                                        "to":j.lower()
                                    })
                        already_connected[i].append(j)
                        already_connected[j].append(i)
                    count += 1
    if count:
        final_clean_data["nodes"].append({
                            'id':i.lower(),
                            'label': i
                            })

In [27]:
final_clean_data

{'nodes': [{'id': 'aadhar ', 'label': 'aadhar '},
  {'id': 'account balances', 'label': 'account balances'},
  {'id': 'address', 'label': 'address'},
  {'id': 'age', 'label': 'age'},
  {'id': 'bank account ', 'label': 'bank account '},
  {'id': 'buying preferences', 'label': 'buying preferences'},
  {'id': 'credit card ', 'label': 'credit card '},
  {'id': 'date joined', 'label': 'date joined'},
  {'id': 'debit card ', 'label': 'debit card '},
  {'id': 'device info', 'label': 'device info'},
  {'id': 'passwords', 'label': 'passwords'},
  {'id': 'email addresses', 'label': 'email addresses'},
  {'id': 'family data', 'label': 'family data'},
  {'id': 'financial transactions', 'label': 'financial transactions'},
  {'id': 'gender', 'label': 'gender'},
  {'id': 'health data', 'label': 'health data'},
  {'id': 'identity card', 'label': 'identity card'},
  {'id': 'interests', 'label': 'interests'},
  {'id': 'job profile', 'label': 'job profile'},
  {'id': 'last login date', 'label': 'last login date'},
  {'id': 'license ', 'label': 'license '},
  {'id': 'location', 'label': 'location'},
  {'id': 'names', 'label': 'names'},
  {'id': 'passport data', 'label': 'passport data'},
  {'id': 'password hints', 'label': 'password hints'},
  {'id': 'phone', 'label': 'phone'},
  {'id': 'profile data', 'label': 'profile data'},
  {'id': 'purchases', 'label': 'purchases'},
  {'id': 'usernames', 'label': 'usernames'}],
 'edges': [{'id': 'aadhar -bank account ',
   'from': 'aadhar ',
   'to': 'bank account '},
  {'id': 'aadhar -names', 'from': 'aadhar ', 'to': 'names'},
  {'id': 'account balances-bank account ',
   'from': 'account balances',
   'to': 'bank account '},
  {'id': 'account balances-financial transactions',
   'from': 'account balances',
   'to': 'financial transactions'},
  {'id': 'account balances-phone', 'from': 'account balances', 'to': 'phone'},
  {'id': 'address-age', 'from': 'address', 'to': 'age'},
  {'id': 'address-buying preferences',
   'from': 'address',
   'to': 'buying preferences'},
  {'id': 'address-credit card ', 'from': 'address', 'to': 'credit card '},
  {'id': 'address-device info', 'from': 'address', 'to': 'device info'},
  {'id': 'address-passwords', 'from': 'address', 'to': 'passwords'},
  {'id': 'address-email addresses',
   'from': 'address',
   'to': 'email addresses'},
  {'id': 'address-family data', 'from': 'address', 'to': 'family data'},
  {'id': 'address-gender', 'from': 'address', 'to': 'gender'},
  {'id': 'address-health data', 'from': 'address', 'to': 'health data'},
  {'id': 'address-identity card', 'from': 'address', 'to': 'identity card'},
  {'id': 'address-interests', 'from': 'address', 'to': 'interests'},
  {'id': 'address-job profile', 'from': 'address', 'to': 'job profile'},
  {'id': 'address-license ', 'from': 'address', 'to': 'license '},
  {'id': 'address-location', 'from': 'address', 'to': 'location'},
  {'id': 'address-names', 'from': 'address', 'to': 'names'},
  {'id': 'address-phone', 'from': 'address', 'to': 'phone'},
  {'id': 'address-purchases', 'from': 'address', 'to': 'purchases'},
  {'id': 'address-usernames', 'from': 'address', 'to': 'usernames'},
  {'id': 'age-credit card ', 'from': 'age', 'to': 'credit card '},
  {'id': 'age-passwords', 'from': 'age', 'to': 'passwords'},
  {'id': 'age-email addresses', 'from': 'age', 'to': 'email addresses'},
  {'id': 'age-gender', 'from': 'age', 'to': 'gender'},
  {'id': 'age-health data', 'from': 'age', 'to': 'health data'},
  {'id': 'age-identity card', 'from': 'age', 'to': 'identity card'},
  {'id': 'age-license ', 'from': 'age', 'to': 'license '},
  {'id': 'age-names', 'from': 'age', 'to': 'names'},
  {'id': 'age-passport data', 'from': 'age', 'to': 'passport data'},
  {'id': 'age-phone', 'from': 'age', 'to': 'phone'},
  {'id': 'age-purchases', 'from': 'age', 'to': 'purchases'},
  {'id': 'age-usernames', 'from': 'age', 'to': 'usernames'},
  {'id': 'bank account -financial transactions',
   'from': 'bank account ',
   'to': 'financial transactions'},
  {'id': 'bank account -names', 'from': 'bank account ', 'to': 'names'},
  {'id': 'bank account -phone', 'from': 'bank account ', 'to': 'phone'},
  {'id': 'buying preferences-credit card ',
   'from': 'buying preferences',
   'to': 'credit card '},
  {'id': 'buying preferences-purchases',
   'from': 'buying preferences',
   'to': 'purchases'},
  {'id': 'credit card -device info',
   'from': 'credit card ',
   'to': 'device info'},
  {'id': 'credit card -email addresses',
   'from': 'credit card ',
   'to': 'email addresses'},
  {'id': 'credit card -identity card',
   'from': 'credit card ',
   'to': 'identity card'},
  {'id': 'credit card -license ', 'from': 'credit card ', 'to': 'license '},
  {'id': 'credit card -names', 'from': 'credit card ', 'to': 'names'},
  {'id': 'credit card -passport data',
   'from': 'credit card ',
   'to': 'passport data'},
  {'id': 'credit card -phone', 'from': 'credit card ', 'to': 'phone'},
  {'id': 'credit card -purchases', 'from': 'credit card ', 'to': 'purchases'},
  {'id': 'date joined-passwords', 'from': 'date joined', 'to': 'passwords'},
  {'id': 'date joined-email addresses',
   'from': 'date joined',
   'to': 'email addresses'},
  {'id': 'date joined-last login date',
   'from': 'date joined',
   'to': 'last login date'},
  {'id': 'date joined-names', 'from': 'date joined', 'to': 'names'},
  {'id': 'date joined-usernames', 'from': 'date joined', 'to': 'usernames'},
  {'id': 'debit card -passwords', 'from': 'debit card ', 'to': 'passwords'},
  {'id': 'device info-passwords', 'from': 'device info', 'to': 'passwords'},
  {'id': 'device info-email addresses',
   'from': 'device info',
   'to': 'email addresses'},
  {'id': 'device info-names', 'from': 'device info', 'to': 'names'},
  {'id': 'device info-purchases', 'from': 'device info', 'to': 'purchases'},
  {'id': 'device info-usernames', 'from': 'device info', 'to': 'usernames'},
  {'id': 'passwords-email addresses',
   'from': 'passwords',
   'to': 'email addresses'},
  {'id': 'passwords-last login date',
   'from': 'passwords',
   'to': 'last login date'},
  {'id': 'passwords-location', 'from': 'passwords', 'to': 'location'},
  {'id': 'passwords-names', 'from': 'passwords', 'to': 'names'},
  {'id': 'passwords-password hints',
   'from': 'passwords',
   'to': 'password hints'},
  {'id': 'passwords-phone', 'from': 'passwords', 'to': 'phone'},
  {'id': 'passwords-usernames', 'from': 'passwords', 'to': 'usernames'},
  {'id': 'email addresses-family data',
   'from': 'email addresses',
   'to': 'family data'},
  {'id': 'email addresses-gender', 'from': 'email addresses', 'to': 'gender'},
  {'id': 'email addresses-interests',
   'from': 'email addresses',
   'to': 'interests'},
  {'id': 'email addresses-job profile',
   'from': 'email addresses',
   'to': 'job profile'},
  {'id': 'email addresses-last login date',
   'from': 'email addresses',
   'to': 'last login date'},
  {'id': 'email addresses-location',
   'from': 'email addresses',
   'to': 'location'},
  {'id': 'email addresses-names', 'from': 'email addresses', 'to': 'names'},
  {'id': 'email addresses-password hints',
   'from': 'email addresses',
   'to': 'password hints'},
  {'id': 'email addresses-phone', 'from': 'email addresses', 'to': 'phone'},
  {'id': 'email addresses-profile data',
   'from': 'email addresses',
   'to': 'profile data'},
  {'id': 'email addresses-purchases',
   'from': 'email addresses',
   'to': 'purchases'},
  {'id': 'email addresses-usernames',
   'from': 'email addresses',
   'to': 'usernames'},
  {'id': 'family data-interests', 'from': 'family data', 'to': 'interests'},
  {'id': 'family data-phone', 'from': 'family data', 'to': 'phone'},
  {'id': 'financial transactions-phone',
   'from': 'financial transactions',
   'to': 'phone'},
  {'id': 'gender-health data', 'from': 'gender', 'to': 'health data'},
  {'id': 'gender-names', 'from': 'gender', 'to': 'names'},
  {'id': 'gender-phone', 'from': 'gender', 'to': 'phone'},
  {'id': 'health data-names', 'from': 'health data', 'to': 'names'},
  {'id': 'identity card-license ', 'from': 'identity card', 'to': 'license '},
  {'id': 'identity card-names', 'from': 'identity card', 'to': 'names'},
  {'id': 'identity card-phone', 'from': 'identity card', 'to': 'phone'},
  {'id': 'interests-phone', 'from': 'interests', 'to': 'phone'},
  {'id': 'job profile-location', 'from': 'job profile', 'to': 'location'},
  {'id': 'job profile-names', 'from': 'job profile', 'to': 'names'},
  {'id': 'job profile-phone', 'from': 'job profile', 'to': 'phone'},
  {'id': 'last login date-names', 'from': 'last login date', 'to': 'names'},
  {'id': 'last login date-usernames',
   'from': 'last login date',
   'to': 'usernames'},
  {'id': 'license -names', 'from': 'license ', 'to': 'names'},
  {'id': 'license -phone', 'from': 'license ', 'to': 'phone'},
  {'id': 'location-names', 'from': 'location', 'to': 'names'},
  {'id': 'location-usernames', 'from': 'location', 'to': 'usernames'},
  {'id': 'names-passport data', 'from': 'names', 'to': 'passport data'},
  {'id': 'names-phone', 'from': 'names', 'to': 'phone'},
  {'id': 'names-purchases', 'from': 'names', 'to': 'purchases'},
  {'id': 'names-usernames', 'from': 'names', 'to': 'usernames'},
  {'id': 'passport data-purchases',
   'from': 'passport data',
   'to': 'purchases'},
  {'id': 'password hints-usernames',
   'from': 'password hints',
   'to': 'usernames'},
  {'id': 'phone-profile data', 'from': 'phone', 'to': 'profile data'},
  {'id': 'phone-purchases', 'from': 'phone', 'to': 'purchases'}]}

In [28]:
json_object = json.dumps(final_clean_data, indent = 4)
with open("./final/network_clean_data.json", "w") as outfile:
    outfile.write(json_object)

## Pie and bubble plot across Organisation Categories

In [29]:
Df_orgcat = Df.groupby(["category"]).agg(["count","sum"])["breach_count(Million)"]
Df_orgcat.columns = ["Number of Breaches","Victim Count (Million)"]
Df_orgcat["Bubble Size"] = Df_orgcat["Number of Breaches"] + 4
Df_orgcat

                Number of Breaches  Victim Count (Million)  Bubble Size
category
airlines                         1                  4.5000            5
e commerce                       7                516.0000           11
education                        1                 20.0000            5
entertainment                    2                 85.3000            6
health                           2                276.0000            6
public welfare                   3               1100.5015            7
social media                     4                856.0000            8
web services                    13               4723.5500           17

In [30]:
Df_orgcat.to_csv("./final/Org_cats.csv")